body{
    background-color:lightgreen;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

h1{
    text-align: center;
    background-color:rgb(226, 100, 86);
    color: white;
}
/* .main-sec{
    width: 100%;
    display:flex;
}
.card-1{
    width:16.66%;    100/16=16.66 
    padding: 20px;
    margin:20px;
    text-align: center;
    background-color: rgb(242, 234, 234);
    
} */
a:hover
{
    /*background-color: whitesmoke;*/
    color: black;
    cursor: pointer;
}

a{
    text-decoration: none;
    color:black;
    font-size: 17px;
}
